<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.datasource">java:jboss/datasources/shadowsatyr</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
		<mapping class="com.seifernet.shadowsatyr.persistance.dto.Account"/>
		<mapping class="com.seifernet.shadowsatyr.persistance.dto.Article"/>
		<mapping class="com.seifernet.shadowsatyr.persistance.dto.BlogEntry"/>
	</session-factory>
</hibernate-configuration>