@CHARSET "UTF-8";

.main-page-image{
	width: 100px;
	height: 100px;
}

.cleaner{
	clear: both;
}

.article-preview{
	width: 100%;
}

.space-20{
	height: 20px;
}

.space-40{
	height: 40px;
}

.complement-color{
	background-color: #A1662F;
	color: white;
}

.primary-color{
	background-color: #1E5A63;
	color: white;
}

.adjacent-color2{
	background-color: #247B33;
	color: white;
}

.adjacent-color1{
	background-color: #283A6D;
	color: white;
}

.end-space{
	height: 60px;
}

.article-space{
	height: 60px;
}

.btn-toolbar-margin{
	margin-bottom: 10px;
}

.navbar-nomargin{
	margin-bottom: 0px;
}